<!-- <p>parent-to-child-communication works!</p>

<app-parent></app-parent>

<app-child></app-child> -->

<div class="parent-container">
  <mat-card>
    <mat-card-title>Credit Card Component</mat-card-title>
    <mat-card-subtitle>smart input box that understands credit card input</mat-card-subtitle>
    <mat-card-content>
      add 'credit-card' attribute which is a custom directive in an input element...that's it attributes are added in []
      brackets...hence, the selector for a directive is '[credit-card]'.

      <br />

      Attribute directives: change the appearance or behavior of an element, component, or another directive.

      <br />

      use `exportAs` property of directive to expose directive to the template of a component using a template reference
      assigned to exportAs prop you can then call fn of the directive.
      <code>
        <pre>
          @Directive, exportAs: 'tooltip' // allow us to use it alongside TemplateRef in our
          component 
          In template, #myTooltip="tooltip"
          <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()"> (?)</span>
      </pre>
      </code>
      <br />

      <pre>
        when you create a custom directive you probably want to talk to particular DOM Node (in this case, input element) via the directive - use ElementRef in this case
        <br>
        <br>
        In a directive you cannot declare HTML template...rest everything you do in component is applicable here as well

    </pre>

      <pre>
          THINGS TO TRY: https://hackernoon.com/create-reuseable-validation-directive-in-angualr-2-dcb0b0df2ce8

          <br>
          <br>
          How to add `mat-form-field-invalid` class(to show red underline) to mat-form-field from directive when error occurs
      </pre>
    </mat-card-content>

    <!-- Credit Card example -->
    <mat-card class="parent-card">
      <mat-label>Credit Card</mat-label>
      <mat-form-field class="full-width-form-field">
        <input
          matInput
          placeholder="Enter 16 digit credit card number"
          name="credit card number"
          type="text"
          credit-card
        />
      </mat-form-field>

      <label tooltip="3 digit number, back of your card" #myTooltip="tooltip"
        >Enter Security Code <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()"> (?)</span></label
      >
      <mat-form-field class="full-width-form-field">
        <input matInput placeholder="Enter cvv number" type="text" name="security code" />
      </mat-form-field>
    </mat-card>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
