<!-- <p>parent-to-child-communication works!</p>

<app-parent></app-parent>

<app-child></app-child> -->

<div class="parent-container">
  <mat-card>
    <mat-card-title>Credit Card Component</mat-card-title>
    <mat-card-subtitle>smart input box that understands credit card input</mat-card-subtitle>
    <mat-card-content>
      add 'credit-card' attribute which is a custom directive in an input element...that's it attributes are added in []
      brackets...hence, the selector for a directive is '[credit-card]'.

      <pre>
        when you create a custom directive you probably want to talk to particular DOM Node (in this case, input element) via the directive - use ElementRef in this case

        In a directive you cannot declare HTML template...rest everything you do in component is applicable here as well

    </pre
      >

      <pre>
          THINGS TO TRY: https://hackernoon.com/create-reuseable-validation-directive-in-angualr-2-dcb0b0df2ce8
          How to add `mat-form-field-invalid` class(to show red underline) to mat-form-field from directive when error occurs
      </pre>
    </mat-card-content>

    <!-- Credit Card example -->
    <mat-card class="parent-card">
      <mat-label>Credit Card</mat-label>
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Enter 16 digit credit card number" name="something" credit-card />
      </mat-form-field>
    </mat-card>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
