.parent-container > mat-card {
  background-color: antiquewhite;
}

.parent-container {
  padding: 20px;
  max-width: 50%;

  mat-form-field {
    width: 100%;
  }

  .parent-card {
    width: 50%;
    margin-bottom: 30px;
  }

  pre {
    white-space: normal;
  }
}
