<p>topics-list works!</p>
<div class="docs-component-category-list">
  <a
    *ngFor="let topic of topics"
    class="docs-component-category-list-item"
    class="docs-component-category-list-item"
    [routerLink]="[topic.link]"
    routerLinkActive="router-link-active"
  >
    <mat-card class="docs-component-category-list-card">
      <mat-card-title>{{ topic.name }}</mat-card-title>
      <mat-card-content class="docs-component-category-list-card-summary">{{ topic.description }}</mat-card-content>
    </mat-card>
  </a>
</div>
