<!-- <p>parent-to-child-communication works!</p>

<app-parent></app-parent>

<app-child></app-child> -->

<p>parent works!</p>

<div class="parent-container">
  <mat-card>
    <mat-card-title>Parent Component</mat-card-title>
    <mat-card-subtitle> Pass data from parent to child </mat-card-subtitle>
    <mat-card-content
      >Desc...................The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
      Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for
      hunting.
    </mat-card-content>

    <app-parent></app-parent>

    <!-- <mat-card-actions>
      <button class="mat-button mat-button-base">Input Event</button>
      <button class="mat-button mat-button-base">OutPut Event</button>
    </mat-card-actions> -->
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
